<center>
<h1><%= @hostname%></h1>
<p class="version">
    <strong>Rails version:</strong> <%= Rails.version %><br />
    <strong>Ruby version:</strong> <%= RUBY_DESCRIPTION %><br />
    <!--<strong>Hostname:</strong> <%= @hostname %><br />-->
    <strong>IP Address:</strong> <%= @ipaddress %>
    <!-- <% @ips.each do | ip | %> -->
    <!--   <li><%= ip.ip_address %></li> -->
    <!-- <% end %> -->
</center>
</p>